@import '../../styles/variables.scss';
.formItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 90%;
  border: 1px solid $--weekly-color;
  border-radius: 10px;
  margin: 10px;
  &__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      &__service {
        display: flex;
        flex-direction: row;
        span {
          text-transform: capitalize;
        }
        p {
          font-weight: 700;
          color: $--weekly-color;
          padding-left: 10px;
        }
      }
      &__date {
        display: flex;
        flex-direction: row;
        span {
          text-transform: capitalize;
        }
        p {
          font-weight: 700;
          color: $--weekly-color;
          padding-left: 10px;
        }
      }
    }
    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex: 0 0 20%;
      &__action {
        display: flex;
        flex-direction: row;
        &__btn {
          padding: 10px 15px;
          letter-spacing: 1px;
          border: none;
          border-radius: 4px;
          color: #fff;
          cursor: pointer;
          margin-left: 5px;
          background-color: $--weekly-color;
          border: 1px solid $--weekly-color;
          &:hover {
            background-color: lighten($--weekly-color, 20%);
            border: 1px solid lighten($--weekly-color, 20%);
          }
        }

        &__link {
          color: #fff;
          text-decoration: none;
        }
        &__deleteBtn {
          background-color: transparent;
          padding: 10px 15px;
          letter-spacing: 1px;
          border: none;
          border-radius: 4px;
          color: red;
          border: 1px solid red;
          cursor: pointer;
          margin-left: 5px;
          &:hover {
            background-color: red;
            color: #fff;
          }
        }
      }
    }
  }
  &__modalActions {
    &__modalBtns {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
      align-items: center;
      width: 60%;
      &__btn {
        padding: 10px 35px;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
      }
      :nth-child(1) {
        background-color: $--medium-purple;
      }
      :nth-child(2) {
        background-color: red;
      }
    }
    &__p {
      text-transform: capitalize;
    }
  }
}
