$--light-purple: #a23788;
$--dark-purple: #4c0966;
$--medium-purple: #936ba3;
$--daily-color: #801717;
$--weekly-color: #1d1d79;
$--monthly-color: #ffd965;
$--light-grey: #aaa9a9;
$--rgba-purple: rgba(#4c0966, 0.6);
$--hero-linear-background: linear-gradient(to right, #a23788, #4c0966);
