@import '../../../../styles/variables.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  &__item {
    background-color: $--medium-purple;
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
    &:hover {
      width: 110%;
      // border-bottom: 1px solid darken($--medium-purple, 40%);
    }
    &:nth-child(3) {
      border-bottom: none;
    }
  }
}

.href {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}
