@import '../../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 90%;
  label {
    width: 100%;
    padding: 10px 0;
  }
  textarea {
    border-radius: 5px;
    border: 1px solid $--light-grey;
    width: 100%;
  }
  textarea:last-child {
    margin-bottom: 10px;
  }
  p {
    color: red;
  }
  &.inValid {
    textarea {
      border-color: red;
      background-color: rgba(red, 0.1);

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}
