@import '../../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 90%;
  label {
    width: 100%;
    padding: 10px 0;
  }
  textarea {
    border-radius: 5px;
    border: 1px solid $--light-grey;
    width: 100%;
  }
  textarea:last-child {
    margin-bottom: 10px;
  }
  .inValid {
    border: 1px solid red;
  }
}
