@import '../../styles/variables.scss';
@import '../../styles/animations.scss';
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;

    &__item {
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      display: flex;
      flex: 0 0 20%;
      border-radius: 10px;
      justify-content: center;
      padding: 5px 0;
      font-size: 1.5rem;
      color: #fff;
      font-weight: 100;
      width: 100%;
      text-transform: capitalize;
      background-color: transparent;
      opacity: 0;
      @media screen and (max-width: 867px) {
        display: none;
      }
      animation: slideInFadeIn 0.5s forwards;
      a {
        background-color: transparent;
        border: none;
        overflow: hidden;
      }
      cursor: pointer;

      .href {
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 10px;
        background-color: lighten($--medium-purple, 10%);
        outline: 0;
        box-shadow: none;
        text-align: center;
        padding: 20px 0;

        width: 100%;
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: translateX(10px) !important;
        }
      }
    }
  }
}
